html{
    height: 100%;
    width: 100%;
    font-family: '宋体';
}
body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background: url('/images/bg.png') 0 -10px no-repeat;
    background-size: cover, 100% auto;
/*    overflow: hidden;
 */
}
ul{
    margin: 0;
}
li{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
    float: left;
}
.topbar{
    height: 52px;
    width: 100%;
    background-color: rgb(35,35,35);
}
.topcontent{
    margin: 0 auto;
    width: 900px;
}
.logo{
    width: 200px;
    height: 36px;
    background: url('/images/logo_new.png') no-repeat transparent;
    float: left;
    margin: 12px 0 0 20px;
}
.topcontent .input input{
    width: 100px;
    height: 21px;
    float: left;
    background: #383E4A;
    border: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 0 0 0 5px;
}
.top-right{
    float: right;
    margin-top: 5px;
}
.top-right input.input_text{
    border:none;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 5px;
    width: 120px;
    margin-left: 10px;
}
.top-right .login-submit{
    background: rgb(253,45,94);
    border: none;
    color: white;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 2px 15px;
}
.top-right .logintool{
    font-size: 13px;
    margin-top: 2px;
    color: #a0a0a0;
    padding-left: 8px;
}
.top-right .forget-passwd{
    margin-left: 40px;
}
.top-right a.forget-passwd:visited{
    color: #a0a0a0;
    text-decoration: none;
}
.top-right a.forget-passwd:link{
    color: #a0a0a0;
    text-decoration: none;
}
.reg{
    float: right;
    width: 430px;
    height: 380px;
    margin: 148px 0 0 0;
    box-shadow: 1px 1px 2px #333;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow:hidden;
}
.regtop{
    height: 10px;
    width: 430px;
    overflow:hidden;
}
.regtop div{
    height: 100%;
    float: left;
}
.main{
    margin: 0 auto;
    height: 100%;
    width: 1000px;
}
.banner{
    float: left;
    width: 520px;
    margin: 104px 0 0 0;
}
.banner div{
    color: #333;
    font-size: 24px;
    margin: 140px auto 0;
    width: 249px;
}
.regframe{
    background: #FFFFFF;
    width: 100%;
    height: 380px;
    margin: -3px 0 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    padding-top: 8px;
}
.regframe input.input_text{
    box-shadow: 1px 1px 5px rgb(150,150,150) inset;
    border: 1px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #F1F1F1;
    height: 35px;
    margin: 23px 44px 0;
    width: 298px;
    padding: 0 0 0 44px;
    font-size: 15px;
    color: #a0a0a0;
}
.regframe input.captcha{
    width: 180px;
    margin-right: 0;
    padding-left: 10px;
}
#yw0{
    margin: 8px 0 0 10px;
    vertical-align: bottom;
}
.name_pic{
    background: url('/images/user-icon.png') center no-repeat;
    width: 30px;
    height: 30px;
    left: 49px;
    position: absolute;
    top: 34px;
}
.pass_pic{
    background: url('/images/pass-icon.png') center no-repeat;
    width: 30px;
    height: 30px;
    left: 49px;
    position: absolute;
    top: 93px;
}
.pass_pic2{
    background: url('/images/pass-icon.png') center no-repeat;
    width: 30px;
    height: 30px;
    left: 49px;
    position: absolute;
    top: 151px;
}
.regtool{
    margin: 2px 50px 0 0;
    color: #7c7c7c;
    font-size: 14px;
    padding-bottom: 15px;
    width: 120px;
    float: right;
}
.regtool input{
    margin: 0;
}
.regtool .submit{
    display: inline;
}
.regtool .submit a{
    color: #7c7c7c;
    text-decoration: none;
}
.regtool .submit input{
    width: 116px;
    margin: 0 0 0 5px;
    background: rgb(253,45,94);
    height: 33px;
    vertical-align: bottom;
    border: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 20px;
    padding-bottom: 3px;
    cursor: pointer;
}
.errorMessage{
    color: #FF0000;
}
.tiaokuan{
    margin: 23px 44px 0;
    color: #333;
    font-size: 14px;
}
.tiaokuan a:link{
    color: rgb(253,45,94);
    text-decoration:none;
}
.tiaokuan a:visited{
    color: rgb(253,45,94);
    text-decoration:none;
}
.regbottom{
    margin: 0;
    padding: 0;
}
.ljzc{
    margin: 23px 44px 0;
    color: #333;
    font-size: 14px;
    width: 160px;
    float:left;
}
.ljzc a:link{
    color: rgb(253,45,94);
    text-decoration:none;
}
.ljzc a:visited{
    color: rgb(253,45,94);
    text-decoration:none;
}
.ddlogin{
    margin: 10px 44px 0;
    color: #333;
    font-size: 14px;
    width: 160px;
    float:left;
}
.share{
    width: 170px;
    height: 53px;
    float: left;
    margin: 16px 0 0 31px;
}
.share span{
    color: #7c7c7c;
    font-size: 14px;
}
.bshare-custom.icon-medium-plus, .bshare-custom.icon-large{
    margin-top: 7px;
}
