body{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
    background: url('/images/bg2.jpg') 0 -55px fixed;
    background-size: cover, 100% auto;
}
ul{
    margin: 0;
}
li{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
    float: left;
}
#page{
    margin: 0 auto;
    width: 980px;
}
.topbar{
    height: 49px;
    width: 100%;
    background: url('/images/headerline.jpg') repeat-x;
}
.topcontent{
    margin: 0 auto;
    width: 900px;
}
.logo{
    width: 200px;
    height: 36px;
    background: url('/images/logo.png') no-repeat transparent;
    float: left;
    margin: 12px 0 0 20px;
}
.topcontent .input{
    width: 155px;
    float: left;
    margin: 19px 0 0 216px;
    position: relative;
}
.topcontent .input img{
    position: absolute;
    right: 2px;
    top: 5px;
}
.topcontent .input input{
    width: 155px;
    height: 21px;
    float: left;
    background: #383E4A;
    border: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 0 0 0 5px;
}
.nav{
    float: right;
    margin: 22px 20px 0 0;
}
.nav li{
    margin: 0 9px;
    color: #898D95;
}
#content{
    padding: 20px;
}
#sidebar{
	padding: 20px 20px 20px 0;
}
#footer{
	padding: 10px;
	font-size: 0.8em;
	text-align: center;
    background: #717e84;
    padding: 26px 0 0;
    height: 66px;
}
#logo{
    font-size: 200%;
    margin: 10px 0 0 20px;
    width: 140px;
    float: left;
    /*box-shadow: 0 0 10px 2px #EE6600;*/
}
#mainmenu{
    height: 22px;
    width: 323px;
    float: right;
    margin: 16px 100px 0 0;
    border: 1px solid #959595;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#mainmenu ul{
    margin: 0;
    padding: 0;
}
#mainmenu ul li{
    padding: 0;
    float: left;
}
#mainmenu ul li.first a{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#mainmenu ul li.last a{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
#mainmenu ul li a{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
    width: 80px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    display: block;
    margin: 0;
    padding: 0;
    border-right: 1px solid #959595;
}
#mainmenu ul li a:hover{
	background:#77C1DA;
}
#mainmenu ul li a{
	background:#B0E0E6;
}
#mainmenu ul li.active a{
	background:#33A1C9;
}
div.flash-error, div.flash-notice, div.flash-success{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.main {
    clear: both;
    display: table;
    margin: 50px auto 50px;
    background: rgba(210,210,255,0.13);
}
.main .title {
    padding: 0 0 0 9px;
    background: #CCC;
    height: 29px;
    line-height: 29px;
    margin: 10px 0 20px 0;
}
.main .title h2 {
    font-size: 14px;
    font-weight: 900;
    color: #FFFFFF;
}
.main .title h2 a{
    text-decoration: none;
    color: #FFFFFF;
}
.recent{
    float: left;
    width: 777px;
    background: #F0F0F0;
}
.recent ul {
    padding: 0;
    margin: 0;
}
.recent ul hr{
    width: 652px;
    float: left;
    height: 1px;
    margin: 10px 24px;
    border: 0;
    background: -moz-linear-gradient(left,#F0F0F0 0%, #666 50%, #F0F0F0 100%);
    background: -webkit-linear-gradient(left,#F0F0F0 0%, #666 50%, #F0F0F0 100%);
    background: linear-gradient(left,#F0F0F0 0%, #666 50%, #F0F0F0 100%);
    box-shadow: 0 1px 0 #FCFCFC;
}
.recent ul li.act_item {
    width: 747px;
    padding: 16px 10px 0 20px;
    float: left;
    position: relative;
    cursor: pointer;
    background: #F0F0F0;
}
.recent ul li.act_item:hover{
    background: #e9e9ed;
}
.recent ul li div.middle_portrait {
    float: left;
    height: 100px;
    width: 67px;
}
.recent ul li.act_item div.portrait_wrap{
    background: none repeat scroll 0 0 #F7FCED;
    border: 1px solid #e9e9e9;
    height: 65px;
    width: 65px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
}
.recent ul li.act_item img{
    width: 63px;
    height: 63px;
    margin: 1px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
}
.recent ul li span.organizer{
    float: left;
    margin-top: 6px;
    width: 67px;
    font-weight: bold;
    text-align: center;
}
.recent ul li div.wrap {
    float: left;
    width: 583px;
    background: url('/images/ybsj.png') 4px 60px no-repeat;
}
.recent ul li div.out_wrap{
    float: left;
    padding-left: 10px;
}
.recent ul li div.main_wrap{
    font-size: 14px;
    background: #4AB6C0;
    color: #000;
    border-radius: 6px;
    float: left;
    padding-top: 10px;
    box-shadow: 1px 1px 1px #aaa;
}
.recent ul li div.seco_wrap{
    float: left;
    background: #fff;
    padding: 12px 12px 5px;
    border-radius: 6px;
}
.recent ul li .first_line{
    width: 550px;
    float: left;
    color: #628C90;
    font-size: 18px;
    font-weight: bold;
    font-family: '黑体';
}
.recent ul li span.subject {
    float: left;
}
.recent ul li span.shuxian {
    color: #FE822E;
    float: left;
    margin: -2px 5px 0;
}
.recent ul li span.type {
    float: left;
}
.recent ul li span.num {
    font-size: 14px;
    float: right;
    color: #666;
    font-weight: normal;
}
.recent ul li .lline{
    float: left;
    margin: 15px 0 0 0;
    line-height: 20px;
}
.recent ul li span.profile{
    float: left;
    width: 550px;
}
.recent ul li .ctime{
    float: left;
    text-align: left;
}
.recent ul li .location{
    float: left;
    margin-left: 15px;
}
.recent ul li .ftime{
    color: #999;
    margin: 0 0 0 20px;
    float: right;
}
.recent ul li .status{
    color: #2064A9;
    margin: 0 0 0 20px;
    font-weight: bold;
}
.recent ul li div.tool_bar{
    float: left;
    width: 583px;
    height: 25px;
    line-height: 25px;
    margin: 2px 0 0;
}
.recent ul li div.tool_bar span{
    float: right;
}
.recent ul li div.comment_tool span{
    float: right;
    margin-left: 5px;
}
.recent ul li div.comment_tool span.comment_time{
    margin-right: 50px;
}
.comment_tool{float: left;width:496px;}
.recent ul li a{
    float: left;
    text-decoration: none;
    color: #555;
}
.recent ul li a.edit{
    background: url('/images/ic_bj.png') center no-repeat;
    height: 25px;
    width: 13px;
    float: left;
    margin: 0 3px;
}
.recent ul li a.del{
    background: url('/images/ic_sc.png') center no-repeat;
    height: 25px;
    width: 13px;
    float: left;
    margin: 0 3px;
}
.recent ul li a.comment{
    background: url('/images/ic_pl.png') center no-repeat;
    height: 25px;
    width: 13px;
    float: left;
    margin: 0 3px;
}
.comment_content{
    width: 544px;
    float: left;
    padding: 17px 10px 14px 20px;
    margin: 0 0 8px 10px;
    border-radius: 4px;
    display: none;
    background: #E7E5E6;
    box-shadow: 1px 1px 1px #aaa;
}
.comment_content textarea,.comment_content_sub textarea{
    height: 26px;
    width: 336px;
    resize: none;
    float: left;
    border: 0;
    box-shadow: 2px 2px 2px #999 inset;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.comment_submit,.comment_submit_sub{float:left;margin: 1px 0 0 8px;background: #4AB6C0;color:white;border-color:#FFB33B;border-radius:2px;cursor:pointer;padding:0 9px 0 10px;line-height:23px;height:23px;}
em{font-style:normal;font-weight:normal;}
.comment_submit:hover,.comment_submit:hover{
    background: -moz-linear-gradient(center top, #FFB847 0%, #FFA210 100%);
    background: -webkit-linear-gradient(center top, #FFB847 0%, #FFA210 100%);
    background: linear-gradient(center top, #FFB847 0%, #FFA210 100%);
}
.comment_content_sub{
    width: 482px;
    float: left;
    padding: 10px;
    margin: 0 0 10px 50px;
    border-radius: 4px;
    display: none;
}
.comment_content ul{float: left;width: 554px;overflow:hidden}
.recent .comment_content ul li{width:100%;float:left;padding:25px 0 0;}
.recent .comment_content ul li img{width:40px;height:40px;float:left;}
.comment_content ul li div.comment_detail{margin:10px 0 0 10px;float:left;width: 82%;word-break:break-all;}
.appr_msg{width: 190px;float: left;}
.appr_msg img{
    float: left;
}
.appr_msg a{
    margin-left: 20px;
    width: 100px;
    height: 25px;
    line-height: 25px;
}
.needappr{
    float:left;
    width:575px;
    padding: 0 50px 0 20px;
    margin:0 0 0 10px;
}
.needappr li{float:left;margin:0 0 10px 0;}
.appr_msg .name{font-weight:bold;}
.approve{
    margin: 10px 0 0 0;
    background: url('/images/right.png') center no-repeat;
}
.refuse{
    background: url('/images/wrong.png') center no-repeat;
}
.appr_word{margin-left:20px;}
.appr_status{margin-left:20px;}
.appr_status_word{color:#2064A9;}
.needappr_word{color:#333;float:left;margin:0px 0 10px;width:500px;}
li {
    list-style: none outside none;
}
div.form label.labelForRadio {display:inline;width:auto;float:none;}
div.form.wide label.labelForRadio {display:inline;width:auto;float:none;}
div.act{padding:20px 25px 0px;}
.left_content{width:200px;float:left;}
.left_content ul{width: 155px;padding:0;margin:0;}
.left_content ul li a{width: 135px;height:15px;padding: 12px 0 10px 65px;cursor:pointer;display:block;text-decoration:none;color:#fff;}
/*.left_content ul li.active a{
    background: -moz-linear-gradient(top, #f0f6fb 0%, #eee 10%, #6eaadc 70%, #ddd 100%);
    background: -webkit-linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C9C9dc 70%, #ddd 100%);
    background: linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C9C9dc 70%, #ddd 100%);
}*/
.left_content ul li:hover, .left_nav li.active{
    background: #49B5BF url('/images/zbsj.png') 190px 14px no-repeat;
}
.left_content ul li a:active{
}
.left_content .portrait{margin:20px 28px 10px;width:140px;height:140px;background:#fff;-moz-border-radius: 68px;-webkit-border-radius: 68px;border-radius: 68px;}
.left_content .portrait_img{margin:2px;-moz-border-radius: 68px;-webkit-border-radius: 68px;border-radius: 68px;}
.left_content .portrait_name,.portrait_name input{width:200px;height:30px;text-align:center;font-family:黑体;color:#fff;font-weight:bold;font-size:16px;margin-bottom:20px;}
.left_nav .top_bar{width:180px;height:24px;color:white;padding:6px 0 0 39px;margin:20px 0 0 -1px;cursor:pointer;position:relative;background: url('/images/ic_actlist.png') 18px 8px no-repeat;}
.left_nav hr{margin: 10px 10px 0;}
.left_nav .rele_act{background:url('/images/ic_releact.png') 45px 12px no-repeat;}
.left_nav .part_act{background:url('/images/ic_partact.png') 42px 12px no-repeat;}
.left_nav .rece_act{background:url('/images/ic_receact.png') 45px 12px no-repeat;}
.left_nav .crea_act{background:url('/images/ic_creaact.png') 45px 12px no-repeat;}
.left_nav .modi_info{background:url('/images/ic_modiinfo.png') 45px 12px no-repeat;}
.left_nav .modi_port{background:url('/images/ic_modiport.png') 42px 12px no-repeat;}
    
.content{width:777px;float:right;overflow:hidden;padding: 0 0 20px 0;}
.content_bar{width:777px;height:32px;position:relative;
    background: -moz-linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C0C0d0 70%, #ddd 100%);
    background: -webkit-linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C0C0d0 70%, #ddd 100%);
    background: linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C0C0d0 70%, #ddd 100%);
    box-shadow: 0 2px 5px #666;
}
.content_main{background:#F0F0F0;}
.act_filter{padding:10px 0 10px 35px;}
.act_filter .dimen{color:#aaa;font-weight:bold;}
.act_filter a{margin:0 15px 0 0;font-size:14px;font-weight:bold;color:#000;text-decoration:none;}
.act_filter a:hover{}
.act_filter a.active{}
.filter_line{height:27px;line-height:27px;}
.content_title{color:#FFF;font-size:15px;font-weight:bold;margin:6px 0 0 18px;float:left;text-shadow: 1px 1px 0 #666}
.new_act{width:100px;height:20px;line-height:20px;background:green;-webkit-border-radius: 20px;border-radius: 20px;text-align:center;margin:5px 10px 0 0;float:right;box-shadow: 0 1px 2px #666;border:1.5px solid #aaa;color:white;cursor:pointer;
    background: -moz-linear-gradient(top, #7CFC00 0%, #6B8E23 100%);
    background: -webkit-linear-gradient(top, #7CFC00 0%, #6B8E23 100%);
    background: linear-gradient(top, #7CFC00 0%, #6B8E23 100%);
}
.clear{clear:both;}

.welcome_bar{color:#D3D3D3;margin: 2px 0 0 2px;float:left;}
.welcome_bar .app_name{color:#33A1C9}
.topbar ul{margin:2px 3px 0 0;padding:0;float:right;}
.topbar li a{color:#D3D3D3;}
.topbar li a:link{color:#D3D3D3;text-decoration:none;}
.topbar li a:visited{color:#D3D3D3;text-decoration:none;}

.header_wrap{width:980px;margin:0 auto;}

.act .title{text-align: center;height:39px;line-height:39px;background: none;}
.act .profile{float: right;}
.act .main_content{float:left;margin:10px 0 0;width:100%;}
.act .main_content p{text-indent: 2em;font-size:15px;line-height:16px;}
.act .addinfo{float:left;margin-top: 30px;width:100%;}
.act .addinfo .createtime{margin-top: 5px;}
.act_return{float: left;margin: 30px 0 0 0;}
.act_return a{color: #2064A9;text-decoration: none;}
