body{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #d6dfff;
}
#page{
    margin: 0 auto;
    width: 980px;
}
#header{
	margin: 0;
    background: -moz-linear-gradient(top, #B0E0E6 0%, #A0D0D6 20%, #a0c1d9 65%, #B0E0E6 100%);
    background: -webkit-linear-gradient(top, #B0E0E6 0%, #A0D0D6 20%, #a0c1d9 65%, #B0E0E6 100%);
    background: linear-gradient(top, #B0E0E6 0%, #A0D0D6 20%, #a0c1d9 65%, #B0E0E6 100%);
    height: 60px;
    box-shadow: 0 -1px 5px rgba(100,100,100,0.6) inset;
}
#content{
    padding: 20px;
}
#sidebar{
	padding: 20px 20px 20px 0;
}
#footer{
	padding: 10px;
	font-size: 0.8em;
	text-align: center;
}
#logo{
    font-size: 200%;
    margin: 10px 0 0 50px;
    width: 138px;
    float: left;
    /*box-shadow: 0 0 10px 2px #EE6600;*/
}
#mainmenu{
    height: 22px;
    width: 323px;
    float: right;
    margin: 16px 100px 0 0;
    border: 1px solid #959595;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
#mainmenu ul{
    margin: 0;
    padding: 0;
}
#mainmenu ul li{
    padding: 0;
    float: left;
}
#mainmenu ul li.first a{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#mainmenu ul li.last a{
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
}
#mainmenu ul li a{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
    width: 80px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    vertical-align: middle;
    display: block;
    margin: 0;
    padding: 0;
    border-right: 1px solid #959595;
}
#mainmenu ul li a:hover{
	background:#77C1DA;
}
#mainmenu ul li a{
	background:#B0E0E6;
}
#mainmenu ul li.active a{
	background:#33A1C9;
}
div.flash-error, div.flash-notice, div.flash-success{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.main {
    height:1100px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #BBB;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.main .title {
    padding: 0 0 0 9px;
    background: #CCC;
    height: 29px;
    line-height: 29px;
}
.main .title h2 {
    font-size: 14px;
    font-weight: 900;
    color: #FFFFFF;
}
.main .title h2 a{
    text-decoration: none;
    color: #FFFFFF;
}
.recent{
    float: left;
    width: 777px;
}
.recent ul {
    padding: 0;
    margin: 0;
}
.recent ul li {
    width: 747px;
    height: 112px;
    padding: 16px 10px 0 20px;
    border-bottom: 1px solid #ccc;
    float: left;
    position: relative;
    z-index: 9;
    cursor: pointer;
}
.recent ul li:hover{
    background: #e7e7ec;
}
.recent ul li div.middle_portrait {
    float: left;
    height: 100px;
    width: 80px;
}
.recent ul li div.portrait_wrap{
    background: none repeat scroll 0 0 #F7FCED;
    border: 1px solid #CCCCCC;
    height: 80px;
    width: 80px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.recent ul li img {
    width: 60px;
    height: 60px;
    margin: 10px;
}
.recent ul li span.organizer{
    float: left;
    margin-top: 6px;
    width: 80px;
    font-weight: bold;
    text-align: center;
}
.recent ul li div.wrap {
    float: left;
    width: 600px;
    margin-left: 20px;
}
.recent ul li .first_line{
    width: 450px;
    float: left;
}
.recent ul li span.subject {
    float: left;
    color: #505050;
    font-weight:bold;
    margin-right: 20px;
}
.recent ul li span.profile{
    color: #666;
    float: left;
    width: 575px;
    margin-top: 8px;
}
.recent ul li .ctime{
    float: right;
    margin: 43px 10px 0 0;
    width: 60px;
    text-align: right;
}
li {
    list-style: none outside none;
}
div.form label.labelForRadio {display:inline;width:auto;float:none;}
div.form.wide label.labelForRadio {display:inline;width:auto;float:none;}
div.act{height:400px;}
.left_content{width:200px;height:100%;float:left;border-right: #CCC solid 1px;background:#C9E0E6;-webkit-border-top-left-radius: 6px;-moz-top-left-border-radius: 6px;border-top-left-radius: 6px;-webkit-border-bottom-left-radius: 6px;-moz-bottom-left-border-radius: 6px;border-bottom-left-radius: 6px;}
.left_content ul{width: 155px;padding:0;margin:0;}
.left_content ul li a{width: 155px;height:15px;padding: 8px 0 8px 45px;cursor:pointer;display:block;text-decoration:none;color:#191970;border-bottom: 1px solid #bbe;overflow-y:hidden;
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 10%, #c9c9dc 70%, #ddd 100%);
    background: -webkit-linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C9C9dc 70%, #ddd 100%);
    background: linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C9C9dc 70%, #ddd 100%);
}
/*.left_content ul li.active a{
    background: -moz-linear-gradient(top, #f0f6fb 0%, #eee 10%, #6eaadc 70%, #ddd 100%);
    background: -webkit-linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C9C9dc 70%, #ddd 100%);
    background: linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C9C9dc 70%, #ddd 100%);
}*/
.left_content ul li a:hover{
    background: -moz-linear-gradient(top, #c9c9dc 0%, #e3e3e3 20%, #eee 60%, #c9c9dc 100%);
    background: -webkit-linear-gradient(top, #c9c9dc 0%, #e3e3e3 20%, #eee 60%, #c9c9dc 100%);
    background: linear-gradient(top, #c9c9dc 0%, #e3e3e3 20%, #eee 60%, #c9c9dc 100%);
}
.left_content ul li a:active{
    background: -moz-linear-gradient(top, #f3f3f3 0%, #ececec 10%, #cccce8 60%, #e8e8e8 100%);
    background: -webkit-linear-gradient(top, #f3f3f3 0%, #ececec 10%, #cccce8 60%, #e8e8e8 100%);
    background: linear-gradient(top, #f3f3f3 0%, #ececec 10%, #cccce8 60%, #e8e8e8 100%);
}
.left_content .portrait{margin:20px 28px 10px;width:140px;height:140px;background:#F7FcEd;border:1px solid #ccc;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;}
.left_content .portrait_img{margin:9px;border:1px solid #959595}
.left_content .portrait_name{width:200px;height:30px;text-align:center;font-family:黑体;color:#2064a9;font-weight:bold;}
.left_nav .top_bar{width:180px;height:24px;background:#444;border:1px solid #444;color:white;padding:6px 0 0 20px;margin-left:-1px;cursor:pointer;position:relative;z-index: 99;
}
    
.content{width:777px;float:right;overflow:hidden;height:100%;}
.content_bar{width:777px;height:32px;-webkit-border-top-right-radius: 6px;-moz-top-right-border-radius: 6px;border-top-right-radius: 6px;position:relative;
    background: -moz-linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C0C0d0 70%, #ddd 100%);
    background: -webkit-linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C0C0d0 70%, #ddd 100%);
    background: linear-gradient(top, #e3e3e3 0%, #e3e3e3 10%, #C0C0d0 70%, #ddd 100%);
    box-shadow: 0 2px 5px #666;
}
.content_main{}
.new_act{width:100px;height:20px;line-height:20px;background:green;-webkit-border-radius: 20px;border-radius: 20px;text-align:center;margin:5px 0 0 10px;float:left;box-shadow: 0 1px 2px #666;border:1.5px solid #aaa;color:white;cursor:pointer;
    background: -moz-linear-gradient(top, #7CFC00 0%, #6B8E23 100%);
    background: -webkit-linear-gradient(top, #7CFC00 0%, #6B8E23 100%);
    background: linear-gradient(top, #7CFC00 0%, #6B8E23 100%);
}
.clear{clear:both;}

.topbar{height:25px;background:#333;}
.welcome_bar{color:#D3D3D3;margin: 2px 0 0 20px;float:left;}
.welcome_bar .app_name{color:#33A1C9}
.topbar ul{margin:2px 10px 0 0;padding:0;float:right;}
.topbar li a{color:#D3D3D3;}
.topbar li a:link{color:#D3D3D3;text-decoration:none;}
.topbar li a:visited{color:#D3D3D3;text-decoration:none;}
